body{
    font-family: "Monserrat", sans-serif;
    
}
#contacto{
    background-image: url(../images/azul3.jpg);
    background-size: 100%;
   
}
#proyectos{
    background-image: url(../images/azul3.jpg);
    background-size: 100%;
   
}
#inicio{
    background-image: url(../images/azul3.jpg);
    
    background-size: 100%;
}
#sobre-mi{
    background-image: url(../images/azul3.jpg);
    background-size: 100%;
 
}
p{
    color: grey;
}
li a{
    color: black !important;
}
h1{
    color:#68b8d1;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid #68b8d1;
    border-radius: 20px;
    text-align: center !important; 
}
p.shadow.bienvenidos{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: black;
}
.cohete{
    height: 350px;
}
.cohete:hover{ /* hover dar estilo al pasar el mouse por encima de un elemento */
    transform: scale(1.1);
}
.ingcivil{
    height: 350px;
}
.ingcivil:hover{
    transform: scale(1.1);
}
input, textarea, .btn{
    border-radius: 15px !important;
}
#proyectos img{
    height: 180px;
}
.btn-home{
    background-color: #68b8d1;
    color: white;
    border-radius: 1px solid #68b8d1;
}
.img-circle-2{
    margin: 1em auto;
    background-color: #78d7f3;
    padding: 10px;
    border-radius: 50%;
}
.img-circle{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.btn{
    border: gray;
    background-color: #68b8d1;
    color: white;
}
#proyectos .color-gradiente{
    background-color: #78d7f3;
}
#sobre-mi .color-gradiente{
    background-color: #78d7f3;
}   
h2{
    font-size: 18px;
    text-align: center;
    color: white;
}
.btn:hover{
    color: #68b8d1;
    background-color: white;
}
.btn-azul{
    margin: 10%;
    padding: 0 20px 0 20px;
    background-color: #68b8d1;
    color: white;
}
.btn-azul:hover{
    color: #68b8d1;
    background-color: white;
}
#proyectos .card p{
    height: 170px;
}
.link-azul{
    text-decoration: none;
    color: #68b8d1;
}
footer .whatsapp{
    background-color: #68b8d1;
    color: white;
    width: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 80%;
    border: 1px solid  #78d7f3;
}
footer .whatsapp a{
    color: white;
}
footer .fa-linkedin-in{
    background-color: #68b8d1;
    color: white;
    width: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 1px solid  #78d7f3;
}
.bg-dark{
    background-color: #78d7f3 !important;  
}
footer .fa-github{
    background-color: #68b8d1;
    color: white;
    width: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 1px solid  #78d7f3;
}
footer, footer a{
    color: grey;
    font-weight: 100;
}
.whatsapp:hover{
    color: #68b8d1;
    background-color:  #78d7f3;
}
#sobre-mi .card{
    height: 220px;
    width: 220px;
}
@media (max-width: 750px) {/* Para mobile */
    #contacto{
        background-image: url(../images/azul4.jpg);
        background-repeat: repeat;
        background-size: 100%;
    }
    #inicio{
        background-image: url(../images/azul4.jpg);
        background-repeat: repeat;
        background-size: 100%;
    }
    #sobre-mi{
        background-image: url(../images/azul4.jpg);
        background-repeat: repeat;
        background-size: 100%;
    }
    #proyectos{
        background-image: url(../images/azul4.jpg);
        background-repeat: repeat;
        background-size: 100%;
    }
    